<div id="<%= dom_id flight %>">
  <p>
    <strong>Airline:</strong>
    <%= flight.airline %>
  </p>

  <p>
    <strong>Departure:</strong>
    <%= flight.departure %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= flight.arrival %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= flight.price %>
  </p>

</div>
