<p style="color: green"><%= notice %></p>




<div class="jumbotron">
  <h1 class="display-4"><%= @booking.first_name %> <%= @booking.last_name %></h1>
  <p class="lead"><%= @booking.email %> | <%= @booking.phone_number %> </p>
  <hr class="my-4">

  <%= link_to "Edit this booking", edit_booking_path(@booking), class:"btn btn-dark" %> |
<%= link_to "Back to bookings", bookings_path, class:"btn btn-secondary" %>

  <br/><br/>
  <%= button_to "Cancel this booking", @booking, method: :delete, class:"btn btn-danger" %>
</div>